{% extends "layout.html" %}

{% block custom_style %}
<style>
    a {
        color: rgba(0, 0, 0, .6);
        text-decoration: none;
    }

    .container {
        color: rgba(0, 0, 0, .6);
        max-width: 960px;
        margin: auto;
        padding: 16px;
    }

    .primary-header {
        font-size: 30px;
        font-weight: 300;
        margin: 0;
        padding: 50px 0;
    }

    .post-link {
        font-weight: 400;
        font-size: 1.5em;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<section class="container">
    <h1 class="primary-header">Tag: {{ tag }}</h1>
    {% for article in articles %}
    <a class="post-link" href="/{{ article.url }}">{{ article.title }}</a>
    <p>{{ article.date|strftime('%Y %m %d') }}
        {% for tag in article.tags %}
        <a href="/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
    </p>
    {% endfor %}
</section>
{% endblock %}