{% extends "layout.html" %}

{% block canonical %}<link rel="canonical" href="{{ NON_AMP_SITEURL }}" />{% endblock %}

{% block custom_style %}
<style amp-custom>
    .container {
        color: rgba(0, 0, 0, .6);
        max-width: 960px;
        margin: auto;
        padding: 16px;
    }

    .container > div {
        padding: 20px 0 0 0;
    }

    .primary-header {
        font-size: 30px;
        font-weight: 300;
        margin: 0;
        padding: 50px 0;
    }

    .btn {
        font-size: 1rem;
        padding: .7em .8em;
        text-decoration: none;
        word-wrap: normal;
        cursor: pointer;
        background-color: #fff;
        color: #673ab7;
        border: 1px solid #673ab7;
    }

    a {
        color: rgba(0, 0, 0, .6);
        text-decoration: none;
    }

    .post-link {
        font-weight: 400;
        font-size: 1.5em;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="primary-header">Archives</h1>
{% for article in articles[:3] %}
<a class="post-link" href="/{{ article.url }}">{{ article.title }}</a>
<p>{{ article.date|strftime('%Y-%m-%d') }}
    {% for tag in article.tags %}
    <a href="/{{ tag.url }}">{{ tag }}</a>
    {% endfor %}
</p>
{% endfor %}
<a href="/archive">Read More</a>
{% endblock content %}